.text_box {
    position: relative;
    padding: 0 20px 0 10%;
    right: 0;
    z-index: 50;

    @media(min-width: 900px) {
        padding: 0 25px 0 15px;
    }

    p {
        font-size: 15px;
        text-align: right;
        color: gray;

        @media(min-width: 900px) {
            font-size: 17px;
        }

        a {
            opacity: 0.8;
            text-decoration: none;
        }

        span {
            color: gray;
            font-style: italic;
        }
    }

    &__path {
        position: absolute;
        min-width: fit-content;
        top: 5px;
        right: 0;
        overflow: hidden;


        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            &__line {
                height: 100%;
                width: 1px;
                background-color: gray;
            }

            &__circle {
                background-color: gray;
                min-width: 7px;
                min-height: 7px;
                border-radius: 3.5px;
            }
        }

    }
}