.prototypes_carousel {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px -250px 0 -250px;
    overflow: hidden;
    padding: 50px 0 40px 0;
    gap: 25px;

    @media(min-width: 900px) {
        margin: 60px -250px 30px -250px;
        gap: 18px;
        mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
        -moz-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
        -o-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
    }
}