.prototypes_line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-left: 25px;
    width: max-content;

    &__box {
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        video {
            height: 100%;
        }
    }

}

@media (min-width: 900px) {
    .prototypes_line {
        gap: 50px;
        padding-left: 50px;

        &__box {
            border-radius: 15px;
        }
    }

}