.technologies_box {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 7px 8px;
    gap: 8px;
    min-width: max-content;
    height: fit-content;

    &__technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
        transition: all 0.3s;

        &__icon {
            position: relative;
            height: 30px;
        }

        &__name {
            position: absolute;
            width: min-content;
            font-size: 14px;
            line-height: 14px;
            font-weight: 200;
            text-align: center;
            width: min-content;
            margin-top: 30px;
            transition: all 0.3s;
            opacity: 0;
            pointer-events: none;
        }

        &:hover {
            filter: brightness(100);
        }

        &:hover &__name {
            margin-top: 45px;
            opacity: 1;
        }
    }

}

@media(min-width: 900px) {
    .technologies_box {
        padding: 8px 9px;
        gap: 9px;

        &__technology {
            &__icon {
                height: 33px;
            }

            &__name {
                margin-top: 38px;
                font-size: 16px;
                line-height: 16px;
            }

            &:hover &__name {
                margin-top: 50px;
                opacity: 1;
            }
        }
    }
}