.prototypes_line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-left: 25px;
    width: max-content;

    @media (min-width: 900px) {
        gap: 50px;
        padding-left: 50px;
    }

    &__box {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.5s;

        &:hover {
            filter: grayscale( 0% );
        }
    }

}