.hero {
    height: 350vh;
    width: 100vw;
    contain: paint;

    &__subcontainer {
        position: sticky;
        top: 0;
        width: 200vw;
        display: flex;

        section {
            min-height: 100vh;
            min-height: 100dvh;
        }

        &__left {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            max-width: 800px;
            text-align: right;

            &__top {
                height: 100%;
            }
            h3 {
                font-size: 30px;
                color: var(--color--light-grey);
            }

            &__name_box {
                position: relative;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                padding: 19px;
                width: min-content;
                border-radius: 10px;
                margin: 12px 0;

                @media(min-width: 560px) {
                    width: max-content;
                }

                h2 {
                    display: flex;
                    font-size: 65px;
                    line-height: 55px;
                    font-weight: 500;
                }

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: visible;
                }
            }

            &__titles_container {
                display: flex;

                &__titles {
                    h1 {
                        font-size: 19px;
                        line-height: 19px;
                        font-weight: 200;
                        color: var(--color--light-grey);
                        min-width: max-content;
                    }
                    h3 {
                        margin-top: 8px;
                        padding-top: 4px;
                        margin-left: auto;
                        font-size: 14px !important;
                        text-align:right;
                        border-top: solid 1px gray;
                        width: 124px;
                        min-width: max-content;
                    }
                }

                &__portrait {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    min-height: 110px;
                    min-width: 110px;
                    border-radius: 10px;
                    margin: 4px 0 0 12px;
                }
            }

        }

        &__right {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            max-width: 1000px;

            &__phrase_box {
                min-width: max-content;
                position: relative;
                padding: 19px 22px;

                p {
                    font-size: 22px;
                    line-height: 22px;
                    color: var(--color--light-grey);
                }

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: visible;
                }

                &__vertical_line {
                    position: absolute;
                    left: 0;
                    width: 4px;
                    z-index: 50;
                    background: linear-gradient(to bottom, var(--color-3), var(--color-5));
                }
            }
        }
    }
}

@media(min-width: 900px) {
    .hero {
        &__subcontainer {

            &__left {

                h3 {
                    font-size: 40px !important;
                }

                &__name_box {
                    margin-bottom: 18px !important;

                    h2 {
                        font-size: 90px !important;
                        padding: 20px 15px;
                    }
                }

                &__titles_container {
                    &__titles {
                        h1 {
                            font-size: 28px !important;
                            line-height: 28px !important;
                        }
                        h3 {
                            margin-top: 9px;
                            padding-top: 5px;
                            font-size: 17px !important;
                            text-align:right;
                            border-top: solid 2px gray;
                            width: 160px;
                        }
                    }

                    &__portrait {
                        height: 130px !important;
                        width: 130px !important;
                        margin-left: 25px;
                    }
                }
            }

            &__right {
                &__phrase_box {
                    padding: 30px 35px;

                    p {
                        font-size: 28px !important;
                        line-height: 31px !important;
                    }
                }
            }
        }
    }
}