@import '@/assets/fonts/fonts.scss';

:root {
  --color-dark-background: #111111;
  --color--light-grey: #b5b5b5;
  --color-1: #3df968;
  --color-2: #00cfff;
  --color-3: #f239da;
  --color-4: #8916f7;
  --color-5: #e9ed4f;
  --color-6: #fa8b4d;
  --color-traslucid-white: rgba(250, 250, 250, 0.03);
  --color-grey-hover: rgba(255, 255, 255, 0.1);
  --color-grey-active: rgba(255, 255, 255, 0.2);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: white;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  background-color: var(--color-dark-background);

  &::-webkit-scrollbar {
    width: 12px !important;
    height: 0 !important;

    
    &-thumb {
      width: 10px;
      background-color: var(--color-grey-hover);
      border-radius: 6px;

      &:hover {
        background-color: var(--color-grey-active);
      }
    }

    &-button {
      height: 15px;
    }

  }
}

section {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  z-index: 10
}