.youtube_parallax {
    width: 100%;
    padding-left: 25px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    @media(min-width: 900px) {
        padding-left: 35px;
    }

    &__top_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-right: 10px;
        margin-left: auto;

        @media(min-width: 820px) {
            flex-direction: row;
            padding-right: 0;
        }

        &__top_text{
            width: 100%;
            max-width: 360px;
            margin-left: auto;

            @media(min-width: 820px) {
                max-width: unset;
            }
        }

        &__channel_video {
            width: 100%;
            padding-right: 25px;

            @media(min-width: 500px) {
                max-width: 350px;
            }

            @media(min-width: 820px) {
                padding-right: 0;
                max-width: 500px;
            }
            
            &__video {
                width: 100%;
                aspect-ratio: 16/9;
                border-radius: 15px;
                background-color: red;
            }
        }
    }

    &__bottom_container {
        width: 100%;
        margin-top: 25px;

        @media(min-width: 500px) {
            padding-left: 50px;
        }

        @media(min-width: 820px) {
            padding-left: 0;
            padding-right: 100px;
            margin-top: -40px;
        }

        &__website_video {
            width: 100%;
            aspect-ratio: 12/9;
            border-radius: 15px;
            background-color: blue;

            @media(min-width: 500px) {
                aspect-ratio: 16/9;
            }
        }
    }


}